<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <main>
        <form method="post" action="/login">
            <h2>Login Now</h2>

            <input type="email" name="email" id="" value="<%=locals.email%>">
            <input type="password" name="password" id="">
            <p> <%= locals.message %> </p>
            <button>Login</button>
        </form>
    </main>


</body>

</html>